<div *ngIf="nwsw">
  <form #f="ngForm">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              General
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="networkswitch-part">
              <div>
                <label class="networkswitch-label" for="id">id</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.id" placeholder="id" name="id" id="id" type="text" />
              </div>
              <div>
                <label class="networkswitch-label" for="protocol" >protocol</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.protocol" name="protocol" id="protocol" placeholder="protocol" />
              </div>
              <div>
                <label class="networkswitch-label" for="state">state</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.state" name="state" id="state" placeholder="state" />
              </div>
              <div>
                <label class="networkswitch-label" for="remark">remark</label>
                <textarea class="form-control networkswitch-value" [(ngModel)]="nwsw.remark" name="remark" id="remark" placeholder="remark"></textarea>
              </div>
            </div>
            <div class="networkswitch-part">
              <div>
                <label class="networkswitch-label" for="addTestresultBtn">Enter Testresult:</label>
                <button type="button"
                        class="btn"
                        id="addTestresultBtn"
                        data-toggle="modal"
                        data-target="#addTestresultModal">
                  Add latest test result...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
             Host: {{nwsw.source.host}}
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="networkswitch-part">
              <div>
                <label class="networkswitch-label" for="source-host">Host</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.source.host" #sourceHost="ngModel" name="source-host" id="source-host" required="{{!sourceIpAddr.valid}}" placeholder="Host" pattern="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$" />
              </div>
              <div>
                <label class="networkswitch-label" for="source-group">Gruppe</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.source.group" name="source-group" id="source-group" placeholder="Gruppe" />
              </div>
              <div>
                <label class="networkswitch-label" for="source-ipAddr">Ip Adresse</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.source.ipAddr" #sourceIpAddr="ngModel" name="source-ipAddr" id="source-ipAddr" required="{{!sourceHost.valid}}" placeholder="Ip Adresse" pattern="^[0-9.-]+$" />
              </div>
              <div>
                <label class="networkswitch-label" for="source-port">Port</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.source.port" name="source-port" id="source-port" placeholder="Port" type="number" />
              </div>
              <div>
                <label class="networkswitch-label" for="source-zone">Zone</label>
                <select class="form-control" [(ngModel)]="nwsw.destination.zone"  id="source-zone" name="source-zone">
                  <option *ngFor="let zone of zones">
                    {{zone}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
             Destination: {{nwsw.destination.host}}
            </a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="networkswitch-part">
              <div>
                <label class="networkswitch-label" for="destination-host">Host</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.destination.host" #destinationHost="ngModel" name="destination-host" id="destination-host" placeholder="Host" required="{{!destinationIpAddr.valid}}" pattern="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$" />
              </div>
              <div>
                <label class="networkswitch-label" for="destination-group">Gruppe</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.destination.group" name="destination-group" id="destination-group" placeholder="Gruppe" />
              </div>
              <div>
                <label class="networkswitch-label" for="destination-ipAddr">Ip Adresse</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.destination.ipAddr" #destinationIpAddr="ngModel" required="{{!destinationHost.valid}}"  name="destination-ipAddr" id="destination-ipAddr" placeholder="Ip Adresse" pattern="^[0-9.-]+$" />
              </div>
              <div>
                <label class="networkswitch-label" for="destination-port">Port</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.destination.port" name="destination-port" id="destination-port" placeholder="Port" />
              </div>
              <div>
                <label class="networkswitch-label" for="destination-zone">Zone</label>
                <select class="form-control" [(ngModel)]="nwsw.destination.zone"  id="destination-zone" name="destination-zone">
                  <option *ngFor="let zone of zones">
                    {{zone}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn" type="button" (click)="goBack()">Back</button>
    <button class="btn btn-default" type="submit" [disabled]="!f.valid" (click)="save()">Save</button>
    <button class="btn" type="button" (click)="delete()">Delete</button>
  </form>
</div>


<!-- Modal dialogs -->
<div class="modal fade" tabindex="-1" role="dialog" id="addTestresultModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">New Test Result</h4>
      </div>
      <div class="modal-body">

        <p>Click according button to save your latest test result!</p>
<!-- TODO Seek proper datepicker where date / time can be properly filled in:
        <div class="form-group">
          <label for="timestamp">Timestamp</label>
          <input id="timestamp"
                 type="datetime-local"
                 class="form-control"
                 [(ngModel)]="testresultTimestamp"/>
        </div>
-->
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-success"
                data-dismiss="modal"
                (click)="addTestresult(true)">Success</button>
        <button type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                (click)="addTestresult(false)">Failed</button>
      </div>
    </div>
  </div>
</div>

