@import "../css-imports/_mixinsAndFunctions";
@import "../css-imports/_variables";
@import "../css-imports/_form";


// additional style:
.glyphicon-ok {
  color: green;
}

// additional style:
.glyphicon-flash {
  color: red;
}

.development_system {
  background-color: $system-development-color;
}
.test_system {
  background-color: $system-test-color;
}
.integration_system {
  background-color: $system-integration-color;
}
.production_system {
  background-color: $system-production-color;
}
