@import "../css-imports/_variables";

.sort-indicator {
  background-color: $gray;
  display: flex;
  justify-content: center;
  height: 100%;
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
  width: prem(40);
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;


  > .number {
    margin-left: prem(3);
  }
}

