<div [hidden]="!getErrormessage()"
     class="alert alert-danger">
  {{getErrormessage()}}
</div>

<div *ngIf="nwsw">
  <!-- novalidate added to allow special behaviour that only IP address or server name needed -->
  <form #createForm="ngForm" novalidate>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapse1">
              General
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="networkswitch-part">
              <div class="form-group">
                <label class="networkswitch-label" for="id">ID:</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.id" placeholder="ID" name="id" id="id" type="text" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-zone">System:</label>
                <select class="form-control"
                        [ngClass]="nwsw.getSystemEnvironmentCssClass()"
                        [(ngModel)]="nwsw.systemEnvironment"
                        id="systemEnvironment"
                        name="systemEnvironment">
                  <option *ngFor="let systemEnvironment of SYSTEM_ENVIRONMENTS">
                    {{systemEnvironment}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <div class="with-i-button">
                  <label class="networkswitch-label" for="protocol">Protocol:</label>
                  <button class="btn btn-link pull-right i-button" (click)="showInfoOnProtocolSelect()">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  </button>
                </div>
                <select multiple class="form-control" (change)="updateProtocolList($event.target.options)" id="protocol" name="protocol">
                  <option *ngFor="let protocol of PROTOCOLS" [selected]="isProtocolSelected(protocol)">
                    {{protocol}}
                  </option>
                </select>
              </div>
            </div>
            <div class="networkswitch-part">
              <div class="form-group">
                <label class="networkswitch-label" for="state">State:</label>
                <select class="form-control" [(ngModel)]="nwsw.state"  id="state" name="state">
                  <option *ngFor="let state of STATES">
                    {{state}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="remark">Remark:</label>
                <textarea class="form-control networkswitch-value" [(ngModel)]="nwsw.remark" name="remark" id="remark" placeholder="Remark"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"
               class="accordion-toggle"
               data-parent="#accordion"
               href="#collapse2"
               [ngClass]="(!sourceIpAddr.valid && !sourceHost.valid) || (!destinationHost.valid && !destinationIpAddr.valid) ? 'invalidAccordeon' : ''">
              Host / Destination
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="networkswitch-part">
              <h2>Source Settings</h2>
              <div class="form-group">
                <label class="networkswitch-label" for="source-host">Host:</label>
                <input class="form-control networkswitch-value"
                       [(ngModel)]="nwsw.source.host"
                       #sourceHost="ngModel"
                       name="source-host"
                       id="source-host"
                       placeholder="Host"
                       pattern="{{HOST_REGEX}}"
                       required />
                <div class="alert alert-danger" [hidden]="sourceHost.valid || !sourceHost.value">
                  Invalid! Allowed characters: 0-9A-Za-z.- (Example: <code>www.a-z.ch</code>)
                </div>
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="source-group">Group:</label>
                <input class="form-control networkswitch-value"
                       [(ngModel)]="nwsw.source.group"
                       name="source-group"
                       id="source-group"
                       placeholder="Group" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="source-ipAddr">IP Address:</label>
                <input class="form-control networkswitch-value"
                       [(ngModel)]="nwsw.source.ipAddr"
                       #sourceIpAddr="ngModel"
                       name="source-ipAddr"
                       id="source-ipAddr"
                       placeholder="IP Address"
                       pattern="{{IP_RANGE_REGEX}}"
                       required />
                <div class="alert alert-danger" [hidden]="sourceIpAddr.valid || !sourceIpAddr.value">
                  Invalid! Allowed characters: 0-9.- (Example: <code>127.202.12.1-128</code>)
                </div>
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="source-zone">Zone:</label>
                <select class="form-control" [(ngModel)]="nwsw.source.zone"  id="source-zone" name="source-zone">
                  <option *ngFor="let zone of ZONES">
                    {{zone}}
                  </option>
                </select>
              </div>
              <div class="alert alert-danger" [hidden]="sourceHost.valid || sourceHost.value || sourceIpAddr.valid || sourceIpAddr.value">
                The <strong>Host</strong> or the<strong> IP address</strong> needs to be filled out!
              </div>
            </div>
            <div class="networkswitch-part">
              <h2>Destination Settings</h2>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-host">Host:</label>
                <input class="form-control networkswitch-value"
                       [(ngModel)]="nwsw.destination.host"
                       #destinationHost="ngModel"
                       name="destination-host"
                       id="destination-host"
                       placeholder="Host"
                       pattern="{{HOST_REGEX}}"
                       required />
                <div class="alert alert-danger" [hidden]="destinationHost.valid || !destinationHost.value">
                  Invalid! Allowed characters: 0-9A-Za-z.- (Example: <code>www.a-z.ch</code>)
                </div>
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-group">Group:</label>
                <input class="form-control networkswitch-value"
                       [(ngModel)]="nwsw.destination.group"
                       name="destination-group"
                       id="destination-group"
                       placeholder="Group" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-ipAddr">IP Address:</label>
                <input class="form-control networkswitch-value"
                       [(ngModel)]="nwsw.destination.ipAddr"
                       #destinationIpAddr="ngModel"
                       name="destination-ipAddr"
                       id="destination-ipAddr"
                       placeholder="IP Address"
                       pattern="{{IP_RANGE_REGEX}}"
                       required />
                <div class="alert alert-danger" [hidden]="destinationIpAddr.valid || !destinationIpAddr.value">
                  Invalid! Allowed characters: 0-9.- (Example: <code>127.202.12.1-128</code>)
                </div>
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-zone">Zone:</label>
                <select class="form-control" [(ngModel)]="nwsw.destination.zone"  id="destination-zone" name="destination-zone">
                  <option *ngFor="let zone of ZONES">
                    {{zone}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-port">Port:</label>
                <input class="form-control networkswitch-value"
                       [(ngModel)]="nwsw.destination.port"
                       name="destination-port"
                       id="destination-port"
                       placeholder="Port" />
              </div>
              <div class="alert alert-danger" [hidden]="destinationHost.valid || destinationHost.value || destinationIpAddr.valid || destinationIpAddr.value">
                The <strong>Host</strong> or the<strong> IP address</strong> needs to be filled out!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-default"
            type="button"
            (click)="goBack()">Back</button>
    <button class="btn btn-success"
            type="submit"
            [disabled]="(!sourceIpAddr.valid && !sourceHost.valid) || (!destinationHost.valid && !destinationIpAddr.valid)"
            (click)="save()">Save</button>
  </form>
</div>
