<div *ngIf="nwsw">
  <form #createForm="ngForm">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapse1">
              General
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="networkswitch-part">
              <div class="form-group">
                <label class="networkswitch-label" for="id">id</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.id" placeholder="id" name="id" id="id" type="text" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-zone">System:</label>
                <select class="form-control"
                        [ngClass]="nwsw.getSystemEnvironmentCssClass()"
                        [(ngModel)]="nwsw.systemEnvironment"
                        id="systemEnvironment"
                        name="systemEnvironment">
                  <option *ngFor="let systemEnvironment of SYSTEM_ENVIRONMENTS">
                    {{systemEnvironment}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="protocol" >protocol</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.protocol" name="protocol" id="protocol" placeholder="protocol" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="state">state</label>
                <select class="form-control" [(ngModel)]="nwsw.state"  id="state" name="state">
                  <option *ngFor="let state of STATES">
                    {{state}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="remark">remark</label>
                <textarea class="form-control networkswitch-value" [(ngModel)]="nwsw.remark" name="remark" id="remark" placeholder="remark"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapse2">
              Host / Destination
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="networkswitch-part">
              <h2>Host Settings</h2>
              <div class="form-group">
                <label class="networkswitch-label" for="source-host">Host</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.source.host" #sourceHost="ngModel" name="source-host" id="source-host" required="{{!sourceIpAddr.valid}}" placeholder="Host" pattern="{{hostRegEx}}" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="source-group">Gruppe</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.source.group" name="source-group" id="source-group" placeholder="Gruppe" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="source-ipAddr">Ip Adresse</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.source.ipAddr" #sourceIpAddr="ngModel" name="source-ipAddr" id="source-ipAddr" required="{{!sourceHost.valid}}" placeholder="Ip Adresse" pattern="{{ipRegEx}}" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="source-port">Port</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.source.port" name="source-port" id="source-port" placeholder="Port" type="number" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="source-zone">Zone</label>
                <select class="form-control" [(ngModel)]="nwsw.destination.zone"  id="source-zone" name="source-zone">
                  <option *ngFor="let zone of ZONES">
                    {{zone}}
                  </option>
                </select>
              </div>
            </div>
            <div class="networkswitch-part">
              <h2>Destination Settings</h2>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-host">Host</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.destination.host" #destinationHost="ngModel" name="destination-host" id="destination-host" placeholder="Host" required="{{!destinationIpAddr.valid}}" pattern="{{hostRegEx}}" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-group">Gruppe</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.destination.group" name="destination-group" id="destination-group" placeholder="Gruppe" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-ipAddr">Ip Adresse</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.destination.ipAddr" #destinationIpAddr="ngModel" required="{{!destinationHost.valid}}"  name="destination-ipAddr" id="destination-ipAddr" placeholder="Ip Adresse" pattern="{{ipRegEx}}" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-port">Port</label>
                <input class="form-control networkswitch-value" [(ngModel)]="nwsw.destination.port" name="destination-port" id="destination-port" placeholder="Port" />
              </div>
              <div class="form-group">
                <label class="networkswitch-label" for="destination-zone">Zone</label>
                <div class="form-group">
                  <select class="form-control" [(ngModel)]="nwsw.destination.zone" name="destination-zone" id="destination-zone">
                    <option *ngFor="let zone of ZONES">
                      {{zone}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-default" type="button" (click)="goBack()">Back</button>
    <button class="btn btn-success" type="submit" [disabled]="(!sourceIpAddr.valid && !sourceHost.valid) || (!destinationHost.valid && !destinationIpAddr.valid)"  (click)="save()">Save</button>
  </form>
</div>
