@import "../../variables";
@import "../../mixinsAndFunctions";


.tab-content {
  margin-bottom: $default-space;
}

.logo {
  max-height: prem(100);
  width: auto;
}

.navbar-brand {
  padding: 2px 6px;
}

.navbar {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  //background: linear-gradient(to top ,$primary-color, $primary-color-dark);
  border-radius: 0px;

  li + li {
    margin-left: prem(15);
  }
}

.icon {
  max-height: prem(50);
  width: auto;
}



/*.network-part + .network-part {
  border-top: 1px solid $border-color;
}*/


