@import "../../variables";
@import "../../mixinsAndFunctions";


.tab-content {
  margin-bottom: $default-space;
}

.logo {
  max-height: prem(100);
  width: auto;
}


/*.network-part + .network-part {
  border-top: 1px solid $border-color;
}*/


