@import "../css-imports/_variables";


.tab-content {
  margin-bottom: $default-space;
}

.logo {
  max-height: 10rem;
  width: auto;
}

.navbar-brand {
  padding: 2px 6px;

  &:hover {
    cursor: pointer;
  }
}

.navbar {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  //background: linear-gradient(to top ,$primary-color, $primary-color-dark);
  border-radius: 0;

  li {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.icon {
  max-height: 5rem;
  width: auto;
}



/*.network-part + .network-part {
  border-top: 1px solid $border-color;
}*/


