<!-- implemented according https://angular.io/docs/ts/latest/guide/forms.html -->
<h1>PortMatrix User Management</h1>
<form #loginForm="ngForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email"
           class="form-control email"
           type="email"
           placeholder="email"
           autofocus
           required
           [(ngModel)]="user.email"
           name="email"
           #email="ngModel"/>
    <div [hidden]="email.valid || email.pristine"
         class="alert alert-danger">
      Email is required
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password"
           class="form-control password"
           type="password"
           placeholder="password"
           required
           [(ngModel)]="user.password"
           name="password"
           #password="ngModel"/>
    <div [hidden]="password.valid || password.pristine"
         class="alert alert-danger">
      Password is required
    </div>
  </div>

  <div [hidden]="!getErrormessage()"
       class="alert alert-danger">
    {{getErrormessage()}}
  </div>

  <button type="submit"
          class="btn btn-default submit login-button"
          (click)="login()"
          [disabled]="isLoggedIn() || !loginForm.form.valid">
    Login
  </button>

  <button type="button"
          class="btn"
          (click)="initUser(); loginForm.reset()">
    Reset
  </button>

  <button type="button"
          class="btn"
          (click)="registerUser()"
          [disabled]="isLoggedIn() || !loginForm.form.valid">
    Sign Up
  </button>

<!--  <button type="button"
          class="btn"
          (click)="updateUser()">
    Password forgotten (TODO Delete?)
  </button> &lt;!&ndash; TODO Move somewhere else &ndash;&gt;

  <button type="button"
          class="btn"
          (click)="updateUser()">
    Change Password (TODO Delete?)
  </button> -->
</form>
