<h2>Network Switchings</h2>
<div class="networkswitchings"
     infinite-scroll
     [infiniteScrollDistance]="1.5"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScrollDown()"
     (scrolledUp)="onScrollUp()">

  <div>
    <label for="sort1">Sort Primary By:</label>
    <select id="sort1" [(ngModel)]="sortingColumn1" (ngModelChange)="sortOrderChanged(sortingColumn1)">
      <option *ngFor="let sortingColumn of availableSortingColumns" [ngValue]="sortingColumn">
        {{sortingColumn.text}}
      </option>
    </select>
  </div>
  <div>
    <label for="sort2">Sort Secondary By:</label>
    <select id="sort2" [(ngModel)]="sortingColumn2" (ngModelChange)="sortOrderChanged(sortingColumn1)">
      <option *ngFor="let sortingColumn of availableSortingColumns" [ngValue]="sortingColumn">
        {{sortingColumn.text}}
      </option>
    </select>
  </div>


  <div class="networkswitch" *ngFor="let nwsw of networkswitchings"  [routerLink]="['/detail', nwsw._id]">
    <!--        (click)="onSelect(nwsw)"
            [class.selected]="nwsw === selectedHero"> -->
    <div class="network-row">
      <div>{{nwsw.id}}</div>
      <div>{{nwsw.state}}</div>
      <div>{{nwsw.source.group}}</div>
      <div>{{nwsw.source.host}}</div>
    </div>
    <div class="network-row">
      <div>{{nwsw.source.ipAddr}}</div>
      <div>{{nwsw.source.zone}}</div>
      <div>{{nwsw.destination.group}}</div>
      <div>{{nwsw.destination.host}}</div>
    </div>
    <div class="network-row">
      <div>{{nwsw.destination.ipAddr}}</div>
      <div>{{nwsw.destination.zone}}</div>
      <div>{{nwsw.destination.port}}</div>
      <div>{{nwsw.lastTeststate}}</div>
    </div>
    <!--        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button> -->
  </div>

</div>

<!--
<div>
  <label>Hero name:</label> <input #heroName/>
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
-->
