<div class="networkswitchings-header">
  <h2>Network Switchings</h2>
  <button class="btn btn-default add-networkswitch" (click)="insert()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create New Network Switching</button>
</div>
<div class="networkswitchings"
     infinite-scroll
     [infiniteScrollDistance]="1.5"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScrollDown()"
     (scrolledUp)="onScrollUp()">

<!--
    <div>
      <label for="sort1">Sort Primary By:</label>
      <select id="sort1" [(ngModel)]="sortingColumn1" (ngModelChange)="sortOrderChanged(sortingColumn1)">
        <option *ngFor="let sortingColumn of availableSortingColumns" [ngValue]="sortingColumn">
          {{sortingColumn.text}}
        </option>
      </select>
    </div>
    <div>
      <label for="sort2">Sort Secondary By:</label>
      <select id="sort2" [(ngModel)]="sortingColumn2" (ngModelChange)="sortOrderChanged(sortingColumn1)">
        <option *ngFor="let sortingColumn of availableSortingColumns" [ngValue]="sortingColumn">
          {{sortingColumn.text}}
        </option>
      </select>
    </div>
-->
  <div class="networkswitchings-filter">
    <input type="text" class="form-control" placeholder="Search for..." #searchInp id="searchInput" (keyup)="search(searchInp.value)">
  </div>

  <div class="networkswitch-sorting">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="pill" href="#sorting-general">General</a></li>
      <li><a data-toggle="pill" href="#sorting-source">Source</a></li>
      <li><a data-toggle="pill" href="#sorting-destination">Destination</a></li>
      <button class="btn btn-default pull-right reset" (click)="resetSorting()"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>Reset Sorting</button>
    </ul>

    <div class="tab-content well">
      <div id="sorting-general" class="network-header-row tab-pane in active">
  <!--
        <button class="sort-btn" (click)="sortingButtonClicked('id')">ID
          <sort-indicator ascending="{{isAscending('id')}}" order="{{getOrder('id')}}"></sort-indicator>
        </button>
      -->
        <sort-button [sorting]="SortingID" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
        <sort-button [sorting]="SortingSTATE" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
        <sort-button [sorting]="SortingUSER" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
        <sort-button [sorting]="SortingTEST_STATE" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
      </div>
      <div id="sorting-source" class="network-header-row tab-pane fade">
        <sort-button [sorting]="SortingSOURCE_ZONE" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
        <sort-button [sorting]="SortingSOURCE_GROUP" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
        <sort-button [sorting]="SortingSOURCE_HOST" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
        <sort-button [sorting]="SortingSOURCE_IP" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
      </div>
      <div id="sorting-destination" class="network-header-row tab-pane fade">
        <sort-button [sorting]="SortingDESTINATION_ZONE" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
        <sort-button [sorting]="SortingDESTINATION_GROUP" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
        <sort-button [sorting]="SortingDESTINATION_HOST" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
        <sort-button [sorting]="SortingDESTINATION_IP" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
        <sort-button [sorting]="SortingDESTINATION_PORT" [sortingList]="sortingList" (sortingChanged)="sortingChanged()"></sort-button>
      </div>
    </div>
  </div>
  <div class="networkswitch-container">
    <div class="networkswitch" *ngFor="let nwsw of networkswitchings"  [routerLink]="['/detail', getProjectId(), nwsw._id]">
      <!--        (click)="onSelect(nwsw)"
              [class.selected]="nwsw === selectedHero"> -->
      <div class="network-part-title">General</div>
      <div class="network-part">
        <div class="networkswitch-label">ID:</div><div class="networkswitch-value">{{nwsw.id}}</div>
        <div class="networkswitch-label">State:</div><div class="networkswitch-value">{{nwsw.state}}</div>
        <div class="networkswitch-label">User:</div><div class="networkswitch-value">{{nwsw.creationBy}}</div>
        <div class="networkswitch-label">Teststate</div><div class="networkswitch-value">{{nwsw.getLastTeststate()}}</div>
      </div>
      <div class="network-part-title">Source</div>
      <div class="network-part">
        <div class="networkswitch-label">Zone:</div><div class="networkswitch-value">{{nwsw.source.zone}}</div>
        <div class="networkswitch-label">Group:</div><div class="networkswitch-value">{{nwsw.source.group}}</div>
        <div class="networkswitch-label">Host:</div><div class="networkswitch-value">{{nwsw.source.host}}</div>
        <div class="networkswitch-label">IpAddr:</div><div class="networkswitch-value">{{nwsw.source.ipAddr}}</div>
      </div>
      <div class="network-part-title">Destination</div>
      <div class="network-part">
        <div class="networkswitch-label">Zone:</div><div class="networkswitch-value">{{nwsw.destination.zone}}</div>
        <div class="networkswitch-label">Group:</div><div class="networkswitch-value">{{nwsw.destination.group}}</div>
        <div class="networkswitch-label">Host:</div><div class="networkswitch-value">{{nwsw.destination.host}}</div>
        <div class="networkswitch-label">IpAddr:</div><div class="networkswitch-value">{{nwsw.destination.ipAddr}}</div>
        <div class="networkswitch-label">Port:</div><div class="networkswitch-value">{{nwsw.destination.port}}</div>
      </div>
      <!--        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button> -->
    </div>
  </div>
</div>

