@import "../../variables";

.network-part {
  display: flex;
  flex-wrap: wrap;
  padding: $default-space;
}

.networkswitch-label {
  min-width: 30%;
}
.networkswitch-value {
  min-width: 70%;
}

.network-header-row {
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    padding: 0 $default-space;
  }
}

sort-button {
  width: prem(200);
  display: flex;
}

.networkswitch {
  border: 1px solid $border-color;
  margin-top: $default-space;
  margin-bottom: $default-space;
  border-radius: $border-radius;
  transition: $default-transition;
  width: prem(350);

  &:hover {
    background-color: lighten($primary-color, 68%);
    cursor: pointer;
  }
}

.network-part-title {
  background: $gray;
  text-align: center;
  padding-top: prem(5);
  padding-bottom: prem(5);
}

.networkswitchings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.networkswitchings-filter {
  margin-top: $default-space;
  margin-bottom: $default-space;
}

.networkswitch-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media screen and (max-width: $width-mobile) {
  sort-button {
    width: 100%;
  }

  .reset {
    width: 100%;
  }
}
