@import "../css-imports/_variables";

.network-part {
  display: flex;
  flex-wrap: wrap;
  padding: $default-space;
}

.networkswitch-label {
  min-width: 30%;
}
.networkswitch-value {
  min-width: 70%;
}

.network-header-row {
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    padding: 0 $default-space;
  }
}

sort-button {
  width: 20rem;
  display: flex;
}

.networkswitch {
  //border: 8px solid;
  border-radius: $border-radius;
  transition: $default-transition;
  width: 35rem;
  margin: $default-space;

  &:hover {
    background-color: lighten($primary-color, 68%);
    cursor: pointer;
  }
}


.development_system {
  //border-color: $system-development-color;
  box-shadow: 0 0 10px 3px $system-development-color;
}
.test_system {
  //border-color: $system-test-color;
  box-shadow: 0 0 10px 3px $system-test-color;
}
.integration_system {
  //border-color: $system-integration-color;
  box-shadow: 0 0 10px 3px $system-integration-color;
}
.production_system {
  //border-color: $system-production-color;
  box-shadow: 0 0 10px 3px $system-production-color;
}


.network-part-title {
  background: $gray;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.main-network-part-title {
  font-size: 18px;
  font-weight: bold;
  background: #bbb;
}

.networkswitchings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.networkswitchings-filter {
  margin-top: $default-space;
  margin-bottom: $default-space;
}

.networkswitch-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.empty-networkswitch-message {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: $width-mobile) {
  sort-button {
    width: 100%;
  }

  .reset {
    width: 100%;
  }
}
