/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "customBootstrap";


body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: $base-font-size;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: $default-space;
}

.glyphicon {
  margin-right: 0.5em;
}

header {
  background: linear-gradient(to top ,$primary-color, $primary-color-dark);
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: center;
  height: prem(100);
  align-items: center;
}
