/* You can add global styles to this file, and also import other style files */
@import "app/css-imports/_variables";
@import "app/css-imports/_customBootstrap";


body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: $base-font-size;
  overflow-x: hidden;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: $default-space;
}

.glyphicon {
  margin-right: 0.5em;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
