/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "customBootstrap";


body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $base-font-size;
}


header {
  background: linear-gradient(top,$primary-color, $primary-color-dark);
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: center;
}

.body-container {
}
